<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SugarMint</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="/static/WelcomeMojit/assets/index.css" />
    <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>
  </head>
  <body class="yui3-skin-sam">
    <div id="{{mojit_view_id}}">
      <dl>
      <dt>status</dt>
      <dd id="dd_status">{{status}}</dd>
      <dt>data</dt>
      <dd id="dd_data">
        <strong>some:</strong> {{#data}}{{some}}{{/data}}
      </dd>
      </dl>
    </div>
    <div id="doc">
      <p class="sel"> <a href="http://beginsmarter.com:3000">SugarMint</a> </p>
      <div id="demo">The time is?</div>
        <script>
          // Create a new YUI sandbox and load the "node" module.
          YUI().use('node', function (Y) {
              // YUI will call this function and pass in the YUI instance (Y) once all
              // modules have finished loading and are ready to use.
              // We can now use Y.Node to get references to DOM elements using CSS
              // selectors.
              var demo = Y.one('#demo');
              // And we can listen for DOM events.
              demo.on('click', function (e) {
                  demo.set('text', (new Date())); // 'You clicked me!');
              });
          });
          YUI({
              combine: false,
              filter: 'DEBUG',
              ignore: ['cssbutton']
          }).use('panel', function (Y) {
              'use strict';
          //Y.WidgetButtons.CLASS_NAMES.button = 'pure-button';
          new Y.Panel({
              bodyContent: 'Some Body Content',
              buttons: [{
                  action: 'hide',
                  classNames: 'pure-button',
                  label: 'Hide'
              }],
              headerContent: 'Some Header Content'
          }).render();
      });
    </script>
    </div>
  </body>
</html>
